<style>.tp-caption.Twitter-Content a,.tp-caption.Twitter-Content a:visited{color:#0084B4 !important}.tp-caption.Twitter-Content a:hover{color:#0084B4 !important; text-decoration:underline !important}</style><!--ID-fashion-new-demo-basel3myshopifycom--><!--[shopify-slider alias="fashion-new-demo-basel3myshopifycom"] --><!-- ok --><style type="text/css"></style>
<div id="rev_slider_5079_1_wrapper" class="wait-to-load rev_slider_wrapper fullwidthbanner-container" data-alias="fashion-new-demo-basel3myshopifycom" style="margin:0px auto;background-color:#eff1f2;padding:0px;margin-top:0px;margin-bottom:0px; opacity:0;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_5079_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-19007" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#EFF1F2' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-19007-layer-1" 
			 data-x="['right','right','right','right']" data-hoffset="['-33','-127','-344','43']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['37','62','81','235']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/t/5/assets/9a614-fashion18-slider-1-layer-1.png?16272785516530777548" alt="" data-ww="['837px','837px','837px','372px']" data-hh="['992px','992px','992px','441px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
			 id="slide-19007-layer-4" 
			 data-x="['right','right','right','right']" data-hoffset="['-5','-85','-182','-735']" 
			 data-y="['top','top','top','top']" data-voffset="['174','196','265','298']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/t/5/assets/4c05b-fashion18-slider-1-layer-3.png?15571519913802139699" alt="" data-ww="['728px','728px','728px','728px']" data-hh="['561px','561px','561px','561px']" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
			 id="slide-19007-layer-3" 
			 data-x="['right','right','right','right']" data-hoffset="['-108','-153','-282','-390']" 
			 data-y="['top','top','top','top']" data-voffset="['8','-19','6','-153']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 7;"><img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/t/5/assets/fashion18-slider-1-layer-2.png?17443366274143895769" alt="" data-ww="['354px','354px','354px','354px']" data-hh="['753px','753px','753px','753px']" data-no-retina> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-19007-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['-171','-171','-79','-530']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['72','72','67','33']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 180px; line-height: 180px; font-weight: 600; color: rgba(230, 236, 237, 1.00);font-family:Open Sans;">2018
 </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-19007-layer-5" 
			 data-x="['left','left','left','center']" data-hoffset="['51','51','51','0']" 
			 data-y="['top','top','top','top']" data-voffset="['195','195','195','107']" 
						data-fontsize="['70','70','70','40']"
			data-lineheight="['80','80','80','50']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 70px; line-height: 80px; font-weight: 600; color: rgba(56, 56, 56, 1.00);font-family:Cabin;">New Collection<br>
Spring-Summer </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-19007-layer-10" 
			 data-x="['left','left','left','center']" data-hoffset="['54','54','54','0']" 
			 data-y="['top','top','top','top']" data-voffset="['379','379','379','229']" 
						data-width="100"
			data-height="3"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 10;background-color:rgba(255, 172, 74, 1.00);border-color:rgba(0,0,0,0.5);border-style:solid;"> </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-19007-layer-7" 
			 data-x="['left','left','left','center']" data-hoffset="['54','54','54','0']" 
			 data-y="['top','top','top','top']" data-voffset="['403','403','403','248']" 
						data-width="['431','431','431','418']"
			data-height="['79','79','79','none']"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 11; min-width: 431px; max-width: 431px; max-width: 79px; max-width: 79px; white-space: normal; font-size: 16px; line-height: 26px; font-weight: 400; color: rgba(56, 56, 56, 0.8);font-family:Cabin Condensed;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour or randomised words which don't look. </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-19007-layer-8" 
			 data-x="['left','left','left','center']" data-hoffset="['53','53','53','0']" 
			 data-y="['top','top','top','top']" data-voffset="['502','502','502','340']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 151, 61, 0);"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 12; white-space: nowrap; font-size: 14px; line-height: 18px; font-weight: 400; color: rgba(255,255,255,1);font-family:Roboto;background-color:rgba(255, 172, 74, 1.00);padding:14px 35px 12px 35px;border-color:rgba(0,0,0,1);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">VIEW MORE </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-19007-layer-9" 
			 data-x="['left','left','left','left']" data-hoffset="['223','223','223','748']" 
			 data-y="['top','top','top','top']" data-voffset="['502','502','502','491']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 151, 61, 0);bc:rgba(0,0,0,1);"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 13; white-space: nowrap; font-size: 14px; line-height: 18px; font-weight: 400; color: rgba(85, 85, 85, 1.00);font-family:Roboto;background-color:rgba(255, 172, 74, 0);padding:14px 35px 12px 35px;border-color:rgba(165, 165, 165, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">BUY NOW </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-19008" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#f6f8f9' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-19008-layer-11" 
			 data-x="['center','center','center','center']" data-hoffset="['-180','-180','-132','-175']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['12','12','-71','188']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/t/5/assets/82248-fashion18-s-2-layer-1.png?16764400663988921900" alt="" data-ww="['1599px','1599px','1599px','769px']" data-hh="['657px','657px','657px','316px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-19008-layer-5" 
			 data-x="['left','left','left','center']" data-hoffset="['52','52','52','0']" 
			 data-y="['top','top','top','top']" data-voffset="['199','199','199','107']" 
						data-fontsize="['68','68','68','40']"
			data-lineheight="['78','78','78','50']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 68px; line-height: 78px; font-weight: 600; color: rgba(56, 56, 56, 1.00);font-family:Cabin;text-transform:uppercase;">Your <span class="color-primary">LOCAL</span><br> GUIDE TO STYLE </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-19008-layer-7" 
			 data-x="['left','left','left','center']" data-hoffset="['54','54','54','0']" 
			 data-y="['top','top','top','top']" data-voffset="['370','370','370','245']" 
						data-width="['516','516','516','418']"
			data-height="['56','56','56','none']"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; min-width: 516px; max-width: 516px; max-width: 56px; max-width: 56px; white-space: normal; font-size: 16px; line-height: 26px; font-weight: 400; color: rgba(56, 56, 56, 0.8);font-family:Cabin Condensed;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised. </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-19008-layer-12" 
			 data-x="['left','left','left','center']" data-hoffset="['56','56','56','0']" 
			 data-y="['top','top','top','top']" data-voffset="['439','439','439','214']" 
						data-fontsize="['18','18','18','16']"
			data-fontweight="['700','700','700','400']"
			data-width="['160','160','160','418']"
			data-height="none"
			data-whitespace="normal"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; min-width: 160px; max-width: 160px; white-space: normal; font-size: 18px; line-height: 26px; font-weight: 700; color: rgba(56, 56, 56, 0.8);font-family:Cabin Condensed;">Price: $120.00 </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-19008-layer-8" 
			 data-x="['left','left','left','center']" data-hoffset="['54','54','54','0']" 
			 data-y="['top','top','top','top']" data-voffset="['490','490','490','339']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 151, 61, 0);"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 18px; font-weight: 400; color: rgba(255,255,255,1);font-family:Roboto;background-color:rgba(255, 172, 74, 1.00);padding:14px 35px 12px 35px;border-color:rgba(0,0,0,1);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">VIEW MORE </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-19008-layer-9" 
			 data-x="['left','left','left','left']" data-hoffset="['223','223','223','748']" 
			 data-y="['top','top','top','top']" data-voffset="['490','490','490','491']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
				data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 151, 61, 0);bc:rgba(0,0,0,1);"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 18px; font-weight: 400; color: rgba(85, 85, 85, 1.00);font-family:Roboto;background-color:rgba(255, 172, 74, 0);padding:14px 35px 12px 35px;border-color:rgba(165, 165, 165, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">BUY NOW </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-19010" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://partner.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#f6f8f9' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
			 id="slide-19010-layer-14" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['131','131','131','354']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/t/5/assets/d9637-fashion18-s-3-layer-2.png?11653896724189067394" alt="" data-ww="['1007px','1007px','1007px','429px']" data-hh="['566px','566px','566px','241px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
			 id="slide-19010-layer-18" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','-1','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','8','0','109']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:0.07;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/t/5/assets/fashion18-s-3-back-txt.svg?3756632612691065425" alt="" data-ww="['795px','795px','795px','398px']" data-hh="['358px','358px','358px','179px']" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
			 id="slide-19010-layer-1" 
			 data-x="['left','left','left','center']" data-hoffset="['265','111','14','0']" 
			 data-y="['bottom','bottom','bottom','middle']" data-voffset="['-4','-9','-16','219']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 7;"><img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/t/5/assets/a8b66-fashion18-s-3-layer-1.png?1556525562419348051" alt="" data-ww="['330px','330px','330px','239px']" data-hh="['708px','708px','708px','513px']" data-no-retina> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-19010-layer-5" 
			 data-x="['right','right','right','center']" data-hoffset="['212','100','39','0']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['-48','-44','-43','107']" 
						data-fontsize="['55','55','55','40']"
			data-lineheight="['60','60','60','50']"
			data-color="['rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)','rgba(56, 56, 56, 1.00)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 55px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Cabin;">The sign of style<br>
and good taste. </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-19010-layer-15" 
			 data-x="['right','right','right','center']" data-hoffset="['212','99','40','6']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['37','44','46','220']" 
						data-fontsize="['20','20','20','16']"
			data-lineheight="['30','30','30','26']"
			data-fontweight="['600','600','600','400']"
			data-color="['rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)','rgba(255, 255, 255, 1.00)','rgba(56, 56, 56, 1.00)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 30px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Cabin;">There are many variations of passages. </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption rev-btn  tp-resizeme" 
			 id="slide-19010-layer-8" 
			 data-x="['right','right','right','center']" data-hoffset="['214','99','41','0']" 
			 data-y="['middle','middle','middle','top']" data-voffset="['94','98','95','264']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 151, 61, 0);"
 
			 data-transform_in="x:50px;opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 18px; font-weight: 400; color: rgba(255,255,255,1);font-family:Roboto;background-color:rgba(255, 172, 74, 1.00);padding:14px 35px 12px 35px;border-color:rgba(0,0,0,1);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">VIEW MORE </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<!-- STYLE --><style type="text/css"></style><!-- /STYLE --><!-- STYLE --><style type="text/css">	#rev_slider_5079_1_wrapper .tp-loader.spinner3{ background-color: #FFFFFF !important; } </style><!-- /STYLE --></div><!-- END REVOLUTION SLIDER --><!--/ID-fashion-new-demo-basel3myshopifycom--><script>
(function(){var urls=["https:\/\/fonts.googleapis.com\/css?family=Amatic+SC%3A400","https:\/\/fonts.googleapis.com\/css?family=Open+Sans%3A600","https:\/\/fonts.googleapis.com\/css?family=Cabin%3A600%2C400","https:\/\/fonts.googleapis.com\/css?family=Cabin+Condensed%3A400%2C700","https:\/\/fonts.googleapis.com\/css?family=Roboto%3A400"];for(var i=0;i<urls.length;i++){var s=document.createElement('link');s.rel='stylesheet';s.type='text/css';s.href=urls[i];var x=document.getElementsByTagName('link')[0];x.parentNode.insertBefore(s,x);}})(jQuery);;var s = document.createElement('script');s.type = 'text/javascript';s.defer = true;s.async=true;s.src = 'https://partner.teathemes.net/shopify-assets/shop/demo-basel3.myshopify.com/fashion-new-demo-basel3myshopifycom.js';document.body.appendChild(s);</script>