<div class="main-page-wrapper pb-0">
    <!-- MAIN CONTENT AREA -->

    <!-- page header -->
    <header class="class_nt">
        <div class="row flex-align-items-center">
            <div class="col-xs-12 col-md-6">
                <img width="284"
                    src="https://cdn.shopify.com/s/files/1/1844/6805/files/argania-horizontal-logo.png?1622"
                    alt="Argania Logo">
            </div>
            <div class="col-xs-12 col-md-6 text-right">
                <ul class="top-nav">
                    <!-- <li>Shop</li>
                    <li>Our Story</li>
                    <li>Blog</li> -->
                    <li>
                        <a href="https://www.arganiafoods.com/collections/all" class="btn btn-md">Subscribe and get 15%
                            off</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- END page header -->

    <!-- intro -->
    <section class="container mt-0 mb-0">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <h1>Liquid gold.</h1>
                <h2>Fresh, simple, and delicious Almond Butter.</h2>
            </div>
        </div>
        <div class="row flex-align-items-center">
            <div class="col-md-5 col-md-push-3">
                <ul class="checkmark-list">
                    <li>Gluten-Free</li>
                    <li>GMO-Free</li>
                    <li>Dairy-Free</li>
                </ul>
            </div>
            <div class="col-md-5">
                <div class="red-callout">
                    <a href="https://www.marthastewart.com/1530116/fancy-food-show-trends-2018">
                        <blockquote>Argan oil has long been prized as a finishing oil in
                            Morocco, but here in the U.S., it has primarily been
                            extolled for
                            its beauty benefits. <footer><cite>Featured on Martha Stewart's Top 5 food trends</cite>
                            </footer>
                        </blockquote>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- END intro -->

    <!-- almond jars -->
    <div class="container">
        <div class="almond-jars row">

            <!-- classic -->
            <div class="col-sm-6 col-md-3 flex-align-items-center column text-center">
                <div class="jar">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/ARGAN-classic-jar-front.png?1749"
                        alt="ARGAN-classic-jar-front">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/ARGAN-classic-back-oct-2019.png?2696"
                        class="img-top" alt="ARGAN-classic-jar-back">
                </div>
                <a href="https://www.arganiafoods.com/collections/all/products/classic-creamy-argan-almond-butter-3-pack-of-10-oz-jars"
                    class="btn btn-md">Add to Cart</a>
            </div>

            <!-- honey -->
            <div class="col-sm-6 col-md-3 flex-align-items-center column text-center">
                <div class="jar">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/ARGAN-honey-jar-front.png?1749"
                        alt="ARGAN-honey-jar-front">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/ARGAN-honey-back-oct-2019.png?2897"
                        class="img-top" alt="ARGAN-classic-jar-back">
                </div>
                <a href="https://www.arganiafoods.com/collections/all/products/honey-argan-almond-butter-pack-of-3-10-oz-jars"
                    class="btn btn-md">Add to Cart</a>
            </div>

            <!-- coconut -->
            <div class="col-sm-6 col-md-3 flex-align-items-center column text-center">
                <div class="jar">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/ARGAN-coconut-jar-front.png?1749"
                        alt="ARGAN-coconut-jar-front">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/ARGAN-coconut-back-oct-2019.png?2878"
                        class="img-top" alt="coconut almond jar back">
                </div>
                <a href="https://www.arganiafoods.com/collections/all/products/coconut-argan-almond-butter-3-pack-of-10-oz-jars"
                    class="btn btn-md">Add to Cart</a>
            </div>

            <!-- cinnamon -->
            <div class="col-sm-6 col-md-3 flex-align-items-center column text-center">
                <div class="jar">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/ARGAN-cinnamon-maple-jar-front.png?1749"
                        alt="ARGAN-cinnamon-maple-jar-front">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/ARGAN-maple-back-oct-2019.png?2895"
                        class="img-top" alt="argan cinnamon maple back">
                </div>
                <a href="https://www.arganiafoods.com/collections/all/products/maple-argan-almond-butter-3-pack-of-10-oz-jars"
                    class="btn btn-md">Add to Cart</a>
            </div>
        </div>
    </div>
    <!-- END almond jars -->

    <!-- snack pack section -->
    <section class="container">
        <div class="row flex-align-center">
            <div class="col-md-8 tertiary-container pa-2 z-5">
                <div class="row mb-2">
                    <div class="col-md-6 flex-align-items-center column text-center mb-2">
                        <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/argania-cinnamon-maple-almond-butter-snack-packs_2x_8b5264f6-b414-4db0-b696-0ca9a428ba43.png?1791"
                            alt="argania almond butter cinnamon maple snack packs">
                        <a href="https://www.arganiafoods.com/products/cinnamon-maple-argan-almond-butters-10-single-serves-box"
                            class="btn btn-md">Add to Cart</a>
                    </div>
                    <div class="col-md-6 flex-align-items-center column text-center mb-2">
                        <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/argania-honey-almond-butter-snack-packs_2x_6e74c755-63cd-4d1a-8ed6-fd14f8e20f8f.png?1791"
                            alt="argania almond butter honey snack packs">
                        <a href="https://www.arganiafoods.com/products/single-serve-honey-argan-almond-butters-10-single-serves-box"
                            class="btn btn-md">Add to Cart</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 flex-align-items-center column text-center mb-2">
                        <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/argania-classic-almond-butter-snack-packs_2x_b66346ca-e37c-433d-bd68-d3e63ee444d9.png?1791"
                            alt="argania almond butter classic snack packs">
                        <a href="https://www.arganiafoods.com/products/single-serve-classic-argan-almond-butters-10-single-serve-packets"
                            class="btn btn-md">Add to Cart</a>
                    </div>
                    <div class="col-md-6 flex-align-items-center column text-center mb-2">
                        <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/argania-coconut-almond-butter-snack-packs_2x_8c0ea268-60cb-4886-87b7-ab718c497f3f.png?1791"
                            alt="argania almond butter coconut snack packs">
                        <a href="https://www.arganiafoods.com/products/coconut-argan-almond-butters-10-single-serves-box"
                            class="btn btn-md">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 collapse-p-l z-0 ml-neg-1">
                <div class="copy-container">
                    <div class="copy-wrapper">
                        <h2 class="primary mb-0">On-the-go</h2>
                        <h2>Snack Packs</h2>
                        <p><strong>EMPOWER YOUR DAY</strong></br>and make snacking
                            on-the-go a breeze! Our single serve 1.15oz snack packs
                            are available in 10 count caddy sizes, and are
                            ideal for retail display and food service.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END snack pack section -->

    <!-- icon cards -->
    <section class="container">

        <div class="row">

            <div class="card col-md-4">

                <div class="card-content secondary text-center">

                    <svg width="127" height="130" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <filter x="-3.3%" y="-3.7%" width="106.7%" height="107.3%" filterUnits="objectBoundingBox"
                                id="a">
                                <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1" />
                                <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0" in="shadowBlurOuter1"
                                    result="shadowMatrixOuter1" />
                                <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2" />
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter2" result="shadowBlurOuter2" />
                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" in="shadowBlurOuter2"
                                    result="shadowMatrixOuter2" />
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1" />
                                    <feMergeNode in="shadowMatrixOuter2" />
                                    <feMergeNode in="SourceGraphic" />
                                </feMerge>
                            </filter>
                        </defs>
                        <g filter="url(#a)" transform="translate(-124.769617 -37.562047)" fill="#FFF"
                            fill-rule="nonzero">
                            <path
                                d="M242.326916 42.29571949c-1.176389-3.00038141-4.5375-3.12039667-5.944966-.28803661-6.512152 12.93764472-18.1710067 21.00266992-31.4894094 21.00266992H188.086985c-22.2673611 0-40.3333333 20.6426242-40.3333333 46.0858586 0 1.6802136.1680555 3.288418.3151041 4.9206255 13.4024306-10.9693944 32.7498264-20.2825784 60.1848959-20.2825784 1.8486111 0 3.3611111 1.7282197 3.3611111 3.8404882 0 2.1122686-1.5125 3.8404883-3.3611111 3.8404883-52.8114584 0-75.20486114 36.9887021-80.16250003 50.886469-1.38645834 3.912497.25208333 8.377065 3.67621527 9.985269 3.44513889 1.632208 7.35243056-.264033 8.78090276-4.152528.3151042-.86411 4.3904514-11.497461 15.1039931-21.7467642 6.80625 10.5373392 19.7465278 20.5946182 36.7411458 18.5303552 32.9809028-2.736347 56.1935764-36.5326437 56.1935764-77.9139043 0-12.0495317-2.26875-24.5311184-6.260069-34.70841221z" />
                        </g>
                    </svg>

                    <div class="col-xs-12">
                        <p>The perfect solution for vegetarians and vegans, as
                            well
                            as those living a whole food, paleo, ketogenic,
                            gluten-free or
                            raw lifestyle</p>
                    </div>


                </div>

            </div>

            <div class="card col-md-4">

                <div class="card-content primary text-center">


                    <svg width="131" height="118" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <filter x="-3.3%" y="-3.7%" width="106.7%" height="107.3%" filterUnits="objectBoundingBox"
                                id="a">
                                <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1" />
                                <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0" in="shadowBlurOuter1"
                                    result="shadowMatrixOuter1" />
                                <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2" />
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter2" result="shadowBlurOuter2" />
                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" in="shadowBlurOuter2"
                                    result="shadowMatrixOuter2" />
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1" />
                                    <feMergeNode in="shadowMatrixOuter2" />
                                    <feMergeNode in="SourceGraphic" />
                                </feMerge>
                            </filter>
                        </defs>
                        <g filter="url(#a)" transform="translate(-126.074588 -44.562047)" fill="#FFF"
                            fill-rule="nonzero">
                            <path
                                d="M207.0866405 99.4578435l-12.0865759 24.7946548c-1.459144 3.0182628-5.6906615 2.9184855-7.0282101-.149666l-13.8375487-31.504677-7.2957198 17.8850779h-22.8842413l44.3822958 46.5211578c1.7266537 1.820936 4.5233463 1.820936 6.25 0l44.4066145-46.5211578h-26.5321009l-5.3745136-11.0253897zm37.3297665-42.3804009l-.583658-.623608c-12.524319-13.12071273-33.0252914-13.12071273-45.5739295 0L191.4738 63.5879103l-6.7850195-7.1091314c-12.524319-13.14565703-33.0496109-13.14565703-45.5739299 0l-.5836576.5986637c-11.84338522 12.4222717-12.35408561 32.203118-1.77529183 45.423608h24.90272373l8.7305447-21.5020045c1.3132296-3.2178173 5.7392997-3.2926503 7.1498055-.0997772l14.1536965 32.2530066 11.9163424-24.4204899c1.4348249-2.9434299 5.520428-2.9434299 6.9552529 0l6.7120623 13.769265h28.9153698c10.578794-13.22049 10.068093-33.0013363-1.775292-45.423608z" />
                        </g>
                    </svg>

                    <div class="col-xs-12">
                        <p>Jam-packed with health-boosting goodies such as
                            antioxidants, fiber, and healthy fats like omega-3
                            and omega-6 fatty
                            acids.</p>
                    </div>

                </div>

            </div>

            <div class="card col-md-4">

                <div class="card-content text-center secondary">

                    <svg width="160" height="131" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <filter x="-3.3%" y="-3.7%" width="106.7%" height="107.3%" filterUnits="objectBoundingBox"
                                id="a">
                                <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1" />
                                <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0" in="shadowBlurOuter1"
                                    result="shadowMatrixOuter1" />
                                <feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2" />
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter2" result="shadowBlurOuter2" />
                                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" in="shadowBlurOuter2"
                                    result="shadowMatrixOuter2" />
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1" />
                                    <feMergeNode in="shadowMatrixOuter2" />
                                    <feMergeNode in="SourceGraphic" />
                                </feMerge>
                            </filter>
                        </defs>
                        <g filter="url(#a)" transform="translate(-129.766374 -37.562047)" fill="#FFF"
                            fill-rule="nonzero">
                            <path
                                d="M249.801983 86.6010726h-36.3374331v13.6730303c0 9.6932019-7.7217046 17.5796105-17.2124684 17.5796105s-17.2124683-7.8864086-17.2124683-17.5796105V70.5840942l-15.5151278 9.522289c-4.6138977 2.8078544-7.4348301 7.9108247-7.4348301 13.3800368v11.5488275l-19.12496482 11.28025c-3.65764953 2.1486191-4.92467845 6.9341797-2.79702611 10.6698469l19.12496483 33.8407506c2.1037462 3.735667 6.7893625 5.005305 10.4470121 2.856686l24.7190171-14.576427h32.6558775c8.4388907 0 15.2999721-7.007428 15.2999721-15.6263202h3.824993c4.231398 0 7.649986-3.4915059 7.649986-7.8131602v-15.6263204h1.912496c3.179526 0 5.73749-2.6125254 5.73749-5.8598701V92.4609427c0-3.2473447-2.557964-5.8598701-5.73749-5.8598701zm35.309467-9.131631l-19.124965-33.84075017c-2.103746-3.73566722-6.789363-5.00530576-10.447012-2.8566867L230.8204555 55.3484317h-24.4321426c-2.8687447 0-5.6657708.8301483-8.1042038 2.3683642l-8.0085791 5.1029703c-2.2471834 1.4161353-3.5859309 3.9309962-3.5859309 6.61677v30.8375667c0 5.3959638 4.2792109 9.7664503 9.5624824 9.7664503 5.2832716 0 9.5624825-4.3704865 9.5624825-9.7664503V78.7879124h43.987419c7.387018 0 13.387476 6.1284475 13.387476 13.6730303v6.9585958l19.124964-11.28025c3.65765-2.1730352 4.900773-6.9341797 2.797027-10.6698469z" />
                        </g>
                    </svg>


                    <div class="col-xs-12">
                        <p>On top of that, we love how the production of argan
                            oil
                            is sustainable and directly benefits the women who
                            make
                            it.</p>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- END icon cards -->

    <!-- what is culinary argan oil -->
    <section class="container">

        <header class="row">

            <div class="col-md-6 col-md-push-3 text-center">

                <h2 class="section-title">What is Culinary Argan Oil?</h2>

                <svg width="46" height="7" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 3.16706h40" stroke="#7EB33F" stroke-width="6" fill="none" fill-rule="evenodd"
                        stroke-linecap="square" />
                </svg>

            </div>

        </header>

        <div class="row">

            <!-- helps digestion -->
            <div class="card col-sm-6 col-md-3">

                <div class="card-content text-center">

                    <svg width="111" height="112" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(.002772 .529926)" fill="none" fill-rule="evenodd">
                            <circle fill="#BC312B" cx="55.2968144" cy="55.2968144" r="55.2968144" />
                            <path
                                d="M70.8773383 38.6514576c-3.9707782-3.7180161-9.1238226-5.7561169-14.5905968-5.7512903-9.8384153.0086371-18.3319838 6.7544637-20.6770826 16.111996-.1707097.6811875-.7775928 1.1621976-1.47986493 1.1621976h-7.27840524c-.95236694 0-1.67585081-.8645988-1.49967944-1.8005807C28.09995727 33.779627 40.9133444 22.738877 56.306048 22.738877c8.4399677 0 16.104502 3.31969355 21.7597681 8.72410282l4.5363811-4.53638105c1.9203568-1.92035685 5.2038508-.56026814 5.2038508 2.15559073v17.0276552c0 1.6835988-1.3647883 3.0483871-3.0483871 3.0483871H67.7300057c-2.7158589 0-4.0759476-3.2834939-2.1555908-5.2039778l5.3029234-5.3027964zM27.8544351 59.3195222h17.0276552c2.7158589 0 4.0759476 3.2834939 2.1555908 5.2039778l-5.3029234 5.3029234c3.9707782 3.7181431 9.1242036 5.7562439 14.5911048 5.7512903 9.8333347-.0088911 18.3303327-6.7501452 20.6765746-16.111869.1707097-.6811875.7775928-1.1621975 1.4798649-1.1621975h7.2785323c.9523669 0 1.6758508.8645988 1.4996794 1.8005806C84.5121387 74.698127 71.6987516 85.738877 56.306048 85.738877c-8.4399677 0-16.104502-3.3196935-21.75976815-8.7241028l-4.53638104 4.536381c-1.92035686 1.9203569-5.20385081.5602682-5.20385081-2.1555907V62.3679093c0-1.6835988 1.36478831-3.0483871 3.0483871-3.0483871z"
                                fill="#FFF" fill-rule="nonzero" />
                        </g>
                    </svg>

                    <div class="col-xs-12 mt-1">
                        <h4>helps digestion</h4>
                    </div>

                </div>

            </div>

            <!-- good source of vitamin E -->
            <div class="card col-sm-6 col-md-3">

                <div class="card-content text-center">

                    <svg width="112px" height="112px" viewBox="0 0 112 112" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Landing-2.1" transform="translate(-509.000000, -2383.000000)">
                                <g id="Group-23" transform="translate(509.456481, 2383.529926)">
                                    <circle id="Oval-Copy" fill="#BC312B" cx="55.2968144" cy="55.2968144"
                                        r="55.2968144"></circle>
                                    <g id="icon-/-grin-beam-sweat-regular" transform="translate(23.772462, 22.738877)"
                                        fill="#FFFFFF" fill-rule="nonzero">
                                        <path
                                            d="M55.8870968,20.5263158 C59.6340726,20.5263158 62.6570565,17.1523026 62.6570565,12.9957237 C62.6570565,9.78848684 58.6306452,3.30986842 56.7889113,0.513157895 C56.3316532,-0.166776316 55.4298387,-0.166776316 54.9852823,0.513157895 C53.1435484,3.30986842 49.1171371,9.78848684 49.1171371,12.9957237 C49.1171371,17.1523026 52.140121,20.5263158 55.8870968,20.5263158 L55.8870968,20.5263158 Z M31.5,51.3157895 C38.0921371,51.3157895 46.1449597,47.0950658 47.1610887,41.0526316 C47.3770161,39.7825658 46.1830645,38.6792763 44.9129032,39.0898026 C41.6231855,40.1546053 36.7330645,40.7703947 31.5,40.7703947 C26.2669355,40.7703947 21.3895161,40.1546053 18.0870968,39.0898026 C16.8423387,38.6921053 15.6229839,39.7697368 15.8389113,41.0526316 C16.8550403,47.0950658 24.9078629,51.3157895 31.5,51.3157895 Z M48.0502016,29.7246711 C48.5074597,29.5835526 48.8122984,29.1473684 48.7741935,28.6598684 C48.3550403,23.2588816 44.6842742,19.5 41.6612903,19.5 C38.6383065,19.5 34.9675403,23.2588816 34.5483871,28.6598684 C34.5102823,29.1345395 34.815121,29.5835526 35.272379,29.7246711 C35.7169355,29.8657895 36.2122984,29.6605263 36.453629,29.25 L37.6602823,27.0690789 C38.6383065,25.3115132 40.0989919,24.2980263 41.6612903,24.2980263 C43.2235887,24.2980263 44.6842742,25.3115132 45.6622984,27.0690789 L46.8689516,29.25 C47.1356855,29.7118421 47.6564516,29.8401316 48.0502016,29.7246711 Z M61.425,22.9381579 C58.3004032,24.9523026 55.5822581,24.5930921 55.5314516,24.5930921 C56.4078629,27.1845395 56.9032258,29.9555921 56.9032258,32.8421053 C56.9032258,46.9924342 45.509879,58.5 31.5,58.5 C17.490121,58.5 6.09677419,46.9924342 6.09677419,32.8421053 C6.09677419,18.6917763 17.490121,7.18421053 31.5,7.18421053 C36.5552419,7.18421053 41.2548387,8.69802632 45.2177419,11.2766447 C45.4336694,10.0578947 46.0179435,8.18486842 47.4024194,5.41381579 C42.7282258,2.64276316 37.3046371,1.02631579 31.5,1.02631579 C14.0987903,1.02631579 0,15.2664474 0,32.8421053 C0,50.4177632 14.0987903,64.6578947 31.5,64.6578947 C48.9012097,64.6578947 63,50.4177632 63,32.8421053 C63,29.3782895 62.441129,26.0555921 61.425,22.9381579 Z M21.3387097,24.2980263 C22.9010081,24.2980263 24.3616935,25.3115132 25.3397177,27.0690789 L26.546371,29.25 C26.8131048,29.7246711 27.333871,29.8529605 27.727621,29.7246711 C28.184879,29.5835526 28.4897177,29.1473684 28.4516129,28.6598684 C28.0324597,23.2588816 24.3616935,19.5 21.3387097,19.5 C18.3157258,19.5 14.6449597,23.2588816 14.2258065,28.6598684 C14.1877016,29.1345395 14.4925403,29.5835526 14.9497984,29.7246711 C15.3943548,29.8657895 15.8897177,29.6605263 16.1310484,29.25 L17.3377016,27.0690789 C18.3157258,25.2986842 19.7764113,24.2980263 21.3387097,24.2980263 Z"
                                            id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                    <div class="col-xs-12 mt-1">
                        <h4>good source of vitamin E</h4>
                    </div>

                </div>

            </div>

            <!-- prevents and cures a number of ailments -->
            <div class="card col-sm-6 col-md-3">

                <div class="card-content text-center">

                    <svg width="111px" height="112px" viewBox="0 0 111 112" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Landing-2.1" transform="translate(-817.000000, -2383.000000)">
                                <g id="Group-33" transform="translate(817.367472, 2383.529926)">
                                    <circle id="Oval-Copy" fill="#BC312B" cx="55.2968144" cy="55.2968144"
                                        r="55.2968144"></circle>
                                    <g id="icon-/-user-md-solid" transform="translate(27.768507, 23.255670)"
                                        fill="#FFFFFF" fill-rule="nonzero">
                                        <path
                                            d="M27.5,31.7863818 C36.1796875,31.7863818 43.2142857,24.6716956 43.2142857,15.8931909 C43.2142857,7.11468625 36.1796875,0 27.5,0 C18.8203125,0 11.7857143,7.11468625 11.7857143,15.8931909 C11.7857143,24.6716956 18.8203125,31.7863818 27.5,31.7863818 Z M12.7678571,52.6461949 C12.7678571,54.2975968 14.0814732,55.6261682 15.7142857,55.6261682 C17.3470982,55.6261682 18.6607143,54.2975968 18.6607143,52.6461949 C18.6607143,50.9947931 17.3470982,49.6662216 15.7142857,49.6662216 C14.0814732,49.6662216 12.7678571,50.9947931 12.7678571,52.6461949 Z M39.2857143,35.8341789 L39.2857143,41.9182911 C43.7667411,42.8371162 47.1428571,46.8600801 47.1428571,51.6528705 L47.1428571,56.8305741 C47.1428571,57.7742323 46.4799107,58.593725 45.5591518,58.7799733 L41.6060268,59.5746328 C41.078125,59.6863818 40.5625,59.3387183 40.4520089,58.7923899 L40.0714286,56.8429907 C39.9609375,56.3090788 40.3046875,55.7751669 40.8448661,55.6758344 L43.2142857,55.1915888 L43.2142857,51.6528705 C43.2142857,43.8552737 31.4285714,43.5696929 31.4285714,51.888785 L31.4285714,55.2040053 L33.7979911,55.688251 C34.3258929,55.8 34.6696429,56.3214953 34.5714286,56.8554072 L34.1908482,58.8048064 C34.0803571,59.3387183 33.5647321,59.6863818 33.0368304,59.5870494 L29.2064732,59.0655541 C28.2366071,58.928972 27.5122768,58.0970628 27.5122768,57.0913218 L27.5122768,51.6528705 C27.5122768,46.8600801 30.8883929,42.8495327 35.3694196,41.9182911 L35.3694196,36.306008 C35.0993304,36.3929239 34.8292411,36.4425901 34.5591518,36.5419226 C32.3493304,37.3241656 29.9799107,37.758745 27.5122768,37.758745 C25.0446429,37.758745 22.6752232,37.3241656 20.4654018,36.5419226 C19.5569196,36.2190921 18.6361607,36.0204272 17.6908482,35.8962617 L17.6908482,46.0281709 C20.5267857,46.8849132 22.6015625,49.517223 22.6015625,52.6586115 C22.6015625,56.4953271 19.5200893,59.6118825 15.7265625,59.6118825 C11.9330357,59.6118825 8.8515625,56.4953271 8.8515625,52.6586115 C8.8515625,49.517223 10.9263393,46.8849132 13.7622768,46.0281709 L13.7622768,36.0452603 C5.95424107,37.3738318 0,44.1781041 0,52.44753 L0,58.0101469 C0,61.077036 2.46763393,63.5727637 5.5,63.5727637 L49.5,63.5727637 C52.5323661,63.5727637 55,61.077036 55,58.0101469 L55,52.44753 C55,43.5076101 48.0267857,36.2687583 39.2857143,35.8341789 L39.2857143,35.8341789 Z"
                                            id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                    <div class="col-xs-12 mt-1">
                        <h4>prevents and cures a number of ailments</h4>
                    </div>

                </div>

            </div>

            <!-- prevent premature aging -->
            <div class="card col-sm-6 col-md-3">

                <div class="card-content text-center">

                    <svg width="112" height="112" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(.81352 .529926)" fill="none" fill-rule="evenodd">
                            <circle fill="#BC312B" cx="55.2968144" cy="55.2968144" r="55.2968144" />
                            <path
                                d="M46.30138 31.503334c0-5.12595703 4.1133203-9.28125 9.1875-9.28125s9.1875 4.15529297 9.1875 9.28125c0 5.1258281-4.1133203 9.28125-9.1875 9.28125s-9.1875-4.1554219-9.1875-9.28125zm32.4914661.17698828c-1.5945416-1.61094141-4.1800572-1.61094141-5.7745989 0L61.9641534 42.847084H49.013479L37.95951281 31.68032228c-1.59454166-1.61094141-4.18005729-1.61094141-5.77459896 0-1.59466927 1.61094142-1.59466927 4.22271092 0 5.83365232L44.2597133 49.7118574V84.097084c0 2.2781602 1.8281849 4.125 4.0833334 4.125h2.0416666c2.2551485 0 4.0833334-1.8468398 4.0833334-4.125v-14.4375h2.0416666v14.4375c0 2.2781602 1.8281849 4.125 4.0833334 4.125h2.0416666c2.2551485 0 4.0833334-1.8468398 4.0833334-4.125V49.7118574l12.0747994-12.1980117c1.5946693-1.6109414 1.5946693-4.222582 0-5.83352342z"
                                fill="#FFF" fill-rule="nonzero" />
                        </g>
                    </svg>

                    <div class="col-xs-12 mt-1">
                        <h4>prevent premature aging</h4>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <!-- tablespoon a day gets your daily dose of Vitamin E -->
            <div class="card col-sm-6 col-md-3">

                <div class="card-content text-center">

                    <svg width="111" height="111" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(.002772 .185028)" fill="none" fill-rule="evenodd">
                            <circle fill="#BC312B" cx="55.2968144" cy="55.2968144" r="55.2968144" />
                            <path
                                d="M81.1880956 31.56235956c-6.1067051-6.12222223-18.3090123-3.83333334-25.2928623 3.16666666-5.4738284 5.47777778-6.1178082 12.22222218-3.1976929 17.82222218L28.88139047 73.9290262c-1.28795963 1.1666667-1.34347513 3.1666667-.11103101 4.3888889l5.69589041 5.7c1.22134103 1.2222222 3.23100213 1.1666667 4.38572463-.1222222l21.3623648-23.8222222c5.5959625 2.9222222 12.3355443 2.2777777 17.8093727-3.2 6.9949532-6.9888889 9.2821918-19.20000003 3.1643836-25.31111114z"
                                fill="#FFF" fill-rule="nonzero" />
                        </g>
                    </svg>

                    <div class="col-xs-12 mt-1">
                        <h4>tablespoon a day gets your daily dose of Vitamin E</h4>
                    </div>

                </div>

            </div>

            <!-- balance blood sugar levels and prevent diabetes -->
            <div class="card col-sm-6 col-md-3">

                <div class="card-content text-center">

                    <svg width="112" height="111" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(.939688 .185028)" fill="none" fill-rule="evenodd">
                            <circle fill="#BC312B" cx="55.2968144" cy="55.2968144" r="55.2968144" />
                            <path
                                d="M48.972462 63.174974h-.0019688c0-1.5987862.1319063-.8626331-8.3721093-17.9354569-1.7374219-3.4870931-6.7124531-3.49401-8.45282815 0-8.575875 17.2190663-8.371125 16.387065-8.371125 17.9354569H23.772462c0 4.3655363 5.64145312 7.905 12.6 7.905 6.9585469 0 12.6-3.5394637 12.6-7.905zm-12.6-15.81l7.0875 14.229h-14.175l7.0875-14.229zm50.3980312 15.81c0-1.5987862.1319063-.8626331-8.3721093-17.9354569-1.7374219-3.4870931-6.7124532-3.49401-8.4528282 0-8.5758749 17.2190663-8.3711249 16.387065-8.3711249 17.9354569h-.0019688c0 4.3655363 5.6414531 7.905 12.6 7.905s12.6-3.5394637 12.6-7.905h-.0019688zm-19.6855312-1.581l7.0875-14.229 7.0875 14.229h-14.175zm8.6625 12.648h-17.325V45.1169896c2.3142656-1.0167806 4.0516875-3.1106175 4.5665156-5.6570156H75.747462c.8701875 0 1.575-.7074975 1.575-1.581v-3.162c0-.8735025-.7048125-1.581-1.575-1.581H61.5370245c-1.4371875-1.9090575-3.6963281-3.162-6.2645625-3.162s-4.827375 1.2529425-6.2645625 3.162H34.797462c-.8701875 0-1.575.7074975-1.575 1.581v3.162c0 .8735025.7048125 1.581 1.575 1.581h12.7584844c.5148281 2.54541 2.2512656 4.640235 4.5665156 5.6570156V74.241974h-17.325c-.8701875 0-1.575.7074975-1.575 1.581v3.162c0 .8735025.7048125 1.581 1.575 1.581h40.95c.8701875 0 1.575-.7074975 1.575-1.581v-3.162c0-.8735025-.7048125-1.581-1.575-1.581z"
                                fill="#FFF" fill-rule="nonzero" />
                        </g>
                    </svg>

                    <div class="col-xs-12 mt-1">
                        <h4>balance blood sugar levels and prevent diabetes</h4>
                    </div>

                </div>

            </div>

            <!-- improve brain function -->
            <div class="card col-sm-6 col-md-3">

                <div class="card-content text-center">

                    <svg width="111" height="111" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(.367472 .185028)" fill="none" fill-rule="evenodd">
                            <circle fill="#BC312B" cx="55.2968144" cy="55.2968144" r="55.2968144" />
                            <path
                                d="M46.522462 27.390011c-3.2703125 0-5.9828125 2.23318273-6.759375 5.25070281-.0875 0-.153125-.02178715-.240625-.02178715-3.8609375 0-7 3.12645583-7 6.97188754 0 .5228916.065625 1.0348896.1859375 1.5251004-3.19375 1.3072289-5.4359375 4.4227912-5.4359375 8.061245 0 1.3725904.35 2.6471385.9078125 3.8018574-2.625 1.5033133-4.4078125 4.2920683-4.4078125 7.5274599 0 3.6275602 2.23125 6.7431225 5.403125 8.0503514-.0984375.5011044-.153125 1.0131024-.153125 1.5359939 0 4.3356426 3.521875 7.8433735 7.875 7.8433735.4484375 0 .8859375-.0544678 1.3125-.1307229 1.05 3.1046687 3.959375 5.3596386 7.4375 5.3596386 4.353125 0 7.875-3.5077309 7.875-7.8433735V34.36189855c0-3.84543173-3.1390625-6.97188755-7-6.97188755zm40.25 33.1164659c0-3.2353916-1.7828125-6.0241466-4.4078125-7.5274599.56875-1.1547189.9078125-2.429267.9078125-3.8018574 0-3.6384538-2.2421875-6.7540161-5.4359375-8.061245.109375-.4902108.1859375-1.0022088.1859375-1.5251004 0-3.84543171-3.1390625-6.97188754-7-6.97188754-.0875 0-.1640625.02178715-.240625.02178715-.7765625-3.01752008-3.4890625-5.25070281-6.759375-5.25070281-3.8609375 0-7 3.11556225-7 6.97188755V75.3217379c0 4.3356426 3.521875 7.8433735 7.875 7.8433735 3.478125 0 6.3875-2.2549699 7.4375-5.3596386.4265625.0762551.8640625.1307229 1.3125.1307229 4.353125 0 7.875-3.5077309 7.875-7.8433735 0-.5228915-.0546875-1.0348895-.153125-1.5359939 3.171875-1.3072289 5.403125-4.4227912 5.403125-8.0503514z"
                                fill="#FFF" fill-rule="nonzero" />
                        </g>
                    </svg>

                    <div class="col-xs-12 mt-1">
                        <h4>improve brain function</h4>
                    </div>

                </div>

            </div>

            <!-- benefits to hair, skin, and nails -->
            <div class="card col-sm-6 col-md-3">

                <div class="card-content text-center">

                    <svg width="111" height="111" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(.308725 .185028)" fill="none" fill-rule="evenodd">
                            <circle fill="#BC312B" cx="55.2968144" cy="55.2968144" r="55.2968144" />
                            <path
                                d="M55.272462 23.772462c-17.4012097 0-31.5 14.0987903-31.5 31.5 0 17.4012097 14.0987903 31.5 31.5 31.5 17.4012097 0 31.5-14.0987903 31.5-31.5 0-17.4012097-14.0987903-31.5-31.5-31.5zm17.9600806 49.4600806c-4.8012096 4.8012097-11.1774193 7.4431452-17.9600806 7.4431452-6.7826613 0-13.158871-2.6419355-17.9600806-7.4431452-4.80120972-4.8012096-7.44314521-11.1774193-7.44314521-17.9600806 0-6.7826613 2.64193549-13.158871 7.44314521-17.9600806 4.8012096-4.80120972 11.1774193-7.44314521 17.9600806-7.44314521 6.7826613 0 13.158871 2.64193549 17.9600806 7.44314521 4.8012097 4.8012096 7.4431452 11.1774193 7.4431452 17.9600806 0 6.7826613-2.6419355 13.158871-7.4431452 17.9600806zm-5.8173387-25.5810483l4.267742-5.11875c1.0923387-1.3082662-.4826613-3.15-1.9560484-2.2862904l-10.1612903 6.0967742c-.9907258.5969758-.9907258 2.0195565 0 2.6165323l10.1612903 6.0967742c1.4606855.8637097 3.0483871-.9653226 1.9560484-2.2862903l-4.267742-5.11875zm-26.5971774 7.4050403l10.1612903-6.0967742c.9907258-.5969758.9907258-2.0195565 0-2.6165323l-10.1612903-6.0967742c-1.4733871-.8764113-3.0483871.9780242-1.9560484 2.2862904l4.267742 5.11875-4.267742 5.11875c-1.1050403 1.3209677.4826613 3.15 1.9560484 2.2862903zm28.9850807 4.2804435H40.7418168c-1.0415322 0-1.8417338.8891129-1.7147177 1.905242.952621 7.5193548 7.48125 13.3366935 15.3816532 13.3366935h1.7274194c7.9004032 0 14.4290322-5.8173387 15.3816532-13.3366935.1270161-1.0161291-.6731855-1.905242-1.7147177-1.905242z"
                                fill="#FFF" fill-rule="nonzero" />
                        </g>
                    </svg>

                    <div class="col-xs-12 mt-1">
                        <h4>benefits to hair, skin, and nails</h4>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- END what is culinary argan oil -->

    <!-- reviews -->
    <section class="alt-background">

        <div class="container">

            <header class="row pt-2">

                <div class="col-md-6 col-md-push-3 text-center">

                    <h2 class="section-title">What are people saying?</h2>

                    <svg width="46" height="7" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3.16706h40" stroke="#7EB33F" stroke-width="6" fill="none" fill-rule="evenodd"
                            stroke-linecap="square" />
                    </svg>

                </div>

            </header>

            <div class="row">

                <div class="col-xs-12">

                    <div style="clear:both;"></div>
                    <div id="opinew-reviews-all-reviews-code" class="">
                        <span id="opinew-shop-plugin">
                            {{ shop.metafields.opinew['opinew_all_reviews'] }}
                        </span>
                    </div>

                    <style>
                        nav.opinew-navbar.opw-flex.opw-items-center.opw-justify-between.opw-flex-wrap.opw-py-4.opw-px-6 {
                            display: none !important;
                        }

                        .opw-flex.opw-flex-wrap.opw-justify-between.opw-rounded.opw-leading-none.opw-overflow-hidden.opw-px-6.opw-py-4 {
                            display: none !important;
                        }

                    </style>

                </div>

            </div>
        </div>

    </section>
    <!-- END reviews -->

    <!-- More about Argan Oil -->
    <section class="container">

        <header class="row">

            <div class="col-md-6 col-md-push-3 text-center">

                <h2 class="section-title">More about Argan Oil</h2>

                <svg width="46" height="7" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 3.16706h40" stroke="#7EB33F" stroke-width="6" fill="none" fill-rule="evenodd"
                        stroke-linecap="square" />
                </svg>

            </div>

        </header>

        <!-- heritage -->
        <section class="row flex-align-center">

            <div class="col-md-5 collapse-p-r z-5 mr-neg-3">
                <div class="copy-container">
                    <div class="copy-wrapper x2-a-p">
                        <h4 class="primary">Heritage</h4>
                        <p>Our Argan Nut butters are from a family recipe, handed down for over 75 years from the Atlas
                            region of Morocco.</p>
                        <a href="https://www.arganiafoods.com/pages/story" class="btn btn-md">More Info</a>
                    </div>
                </div>
            </div>

            <div class="col-md-7 z-0">
                <div class="row shadow01">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/morocco.jpg?2147" alt="morocco">
                </div>
            </div>

        </section>
        <!-- END heritage -->

        <!-- the butter -->
        <section class="row flex-align-center">

            <div class="col-md-6 z-5">
                <div class="row shadow01">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/moroccanAlmondButter.jpg?2147"
                        alt="moroccan Almond Butter">
                </div>
            </div>

            <div class="col-md-6 collapse-p-l z-0 ml-neg-3 pl-2">
                <div class="copy-container">
                    <div class="copy-wrapper x2-a-p">
                        <h4 class="primary">The Butter</h4>
                        <p>Argan Almond Butter, known as “Amlou” is a delicious Moroccan dip that has been in Moroccan
                            kitchens for centuries.</p>
                        <a href="https://www.arganiafoods.com/collections/argan-almond-butters" class="btn btn-md">Add
                            to Cart</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- END the butter -->

        <!-- the founder -->
        <section class="row flex-align-center">

            <div class="col-md-5 collapse-p-r z-5 mr-neg-3">
                <div class="copy-container">
                    <div class="copy-wrapper x2-a-p">
                        <h4 class="primary">The Founder</h4>
                        <p>Growing up in a traditional Moroccan family in Casablanca, Argania Butter's founder Nadia
                            realized that there was a need
                            for the delicious, mouth-watering Argan Nut butter spread that she grew up eating.</p>
                        <a href="https://www.arganiafoods.com/pages/story" class="btn btn-md">Our Story</a>
                    </div>
                </div>
            </div>

            <div class="col-md-7 z-0">
                <div class="row shadow01">
                    <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/nadia.jpg?2147" alt="the founder nadia">
                </div>
            </div>

        </section>
        <!-- END the founder -->

        <!-- three icons -->
        <section class="container">

            <div class="row">

                <!-- icon ONE -->
                <div class="card simple-card col-md-3">

                    <div class="card-content text-center">

                        <svg width="85" height="123" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M49.8471002 5.83257582c-1.8933616-6.88302449-11.7893952-7.20349887-13.935523 0C24.7588666 43.5624557.910618 53.8152445.910618 80.4074437c0 23.5429093 18.7714642 42.5920023 41.9687207 42.5920023 23.1972566 0 41.9687207-19.049093 41.9687207-42.5920023 0-26.7261288-23.7957877-36.6727928-35.0009592-74.57486788zM42.8793387 107.693207c-14.724821 0-26.7073677-12.0177896-26.7073677-26.7859189 0-2.1141743 1.7073639-3.8265598 3.8153382-3.8265598 2.1079744 0 3.8153383 1.7123855 3.8153383 3.8265598 0 10.5493471 8.5582806 19.1327989 19.0766912 19.1327989 2.1079744 0 3.8153383 1.712386 3.8153383 3.82656s-1.7073639 3.82656-3.8153383 3.82656z"
                                fill="#BC312B" fill-rule="nonzero" />
                        </svg>

                        <div class="col-xs-12 mt-1">
                            <p>This “liquid gold” makes our products rich in vitamin A and vitamin E.</p>
                        </div>

                    </div>

                </div>

                <!-- icon TWO -->
                <div class="card simple-card col-md-3">

                    <div class="card-content text-center">

                        <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/nonGMO.png?2147" alt="non GMO">

                        <div class="col-xs-12 mt-1">
                            <p>All of our creations are Gluten-Free, GMO-Free, Dairy-Free, and contain the super food
                                Organic Argan Oil.</p>
                        </div>

                    </div>

                </div>

                <!-- icon THREE -->
                <div class="card simple-card col-md-3">

                    <div class="card-content text-center">

                        <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/omega-6.png?2147" alt="Omega-6">

                        <div class="col-xs-12 mt-1">
                            <p>It is also packed with antioxidants, Omega-6 fatty acids, Omega-3 fatty acids, and
                                linoleic acid.</p>
                        </div>

                    </div>

                </div>




        </section>
        <!-- END 3 icons -->

    </section>
    <!-- END more about argan oil -->


    <!-- Empowering Women -->
    <section class="alt-background mb-0">

        <header class="row primary-header px-2">

            <div class="col-md-6 col-md-push-3 text-center">

                <h2 class="section-title">Empowering Women</h2>

                <svg width="46" height="7" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 3.7274066h40" stroke="#FFF" stroke-width="6" fill="none" fill-rule="evenodd"
                        stroke-linecap="square" />
                </svg>

            </div>

        </header>

        <div class="container">

            <!-- section ONE -->
            <section class="row flex-align-center">

                <div class="col-md-5 collapse-p-r z-0 mr-neg-3">
                    <div class="copy-container">
                        <div class="copy-wrapper x2-a-p pr-4">
                            <p>Our Argan oil is imported from our producers and partners in Morocco who employ and
                                empower about 500 women from 6
                                different female-run cooperatives and family farmers in Morocco. Fair-trade and
                                sustainable development are the
                                foundation of these cooperatives initiatives.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 z-5">
                    <div class="row shadow01">
                        <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/berber-women.jpg?2356"
                            alt="berber women">
                    </div>
                </div>

            </section>
            <!-- END section ONE -->

            <!-- section TWO -->
            <section class="row flex-align-center">

                <div class="col-xs-12 col-md-7 z-5">
                    <div class="row shadow01">
                        <img src="https://cdn.shopify.com/s/files/1/1844/6805/files/morrocan_workers.jpg?2356"
                            alt="moroccan ladies working on the argan oil">
                    </div>
                </div>

                <div class="col-xs-12 col-md-5 collapse-p-l z-0 ml-neg-3 pl-2">
                    <div class="copy-container">
                        <div class="copy-wrapper x2-a-p">
                            <p>Through fair-trade the women are guaranteed a competitive salary. This fundamental income
                                propels the social status of
                                the women and the cooperatives allow them to escape the isolation they otherwise face.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END section TWo -->

            <section class="row">

                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>By supporting Argania Butter, you have a direct impact on the women in Morocco.</h2>
                    <a href="https://www.arganiafoods.com/collections/argan-almond-butters"
                        class="btn btn-md mt-2">Support the Women of Morocco</a>
                </div>
            </section>

        </div>

    </section>
    <!-- END reviews -->

    {{ page.content }}

    <footer class="bottom-border">

    </footer>

</div>
<style>
    #post- {
            {
            page.id
        }
    }

    .class_nt {
        padding: 0 50px
    }

    @media (max-width: 991px) {
        #post- {
                {
                page.id
            }
        }

        .class_nt {
            padding: 0 15px
        }
    }

</style>
<!--[if (gt IE 9)|!(IE)]><!-->
<script src="{{ 'js_cp_gl.min.js' | asset_url }}" defer="defer"></script>
<!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'js_cp_gl.min.js' | asset_url }}"></script><![endif]-->
